@{
    ViewData["Title"] = "Index Home";
}

<p>En República Dominicana, el desayuno varía dependiendo de la región. En el interior de la isla se acostumbra a desayunar con víveres y una "compaña". El vívere más popular es el plátano verde y se sirve en el desayuno en trozos hervidos o como mangú. El mangú se prepara salcochando trozos de plátano verde, que luego son hechos puré y sazonados con mantequilla. El mangú es un verdadero plato nacional y se acompaña con salami frito, huevos fritos o revueltos (llamado en este país popularmente huevada).

En la capital, Santo Domingo, el desayuno es generalmente más ligero. Incluye generalmente un café con leche o un chocolate caliente, y pan con mantequilla y queso. Algunas veces incluye jugo de naranja, frutas (lechoza, toronja, etc.), ponche de leche (leche, huevo y nuez moscada batidos), huevos salcochados, harina de "negrito" o maizena y avena. El pan tradicional para el desayuno dominicano es el "pan de agua" pero también se usa mucho el pan de sándwich.</p>

<p>En la región de la costa e insular, es común tomar un desayuno fuerte, en el cual destaca el uso de plátano verde (tanto en patacones, empanadas o bolones), yuca (en tortillas, pan de harina de yuca o muchines). También el pescado preparado en diferentes formas (encebollados, bollos), acompaña el desayuno de las personas que residen en estos sectores, y es común también en las poblaciones costeras en las cuales la población se compone mayoritariamente de pescadores, es normal encontrar camarones o pulpo en el desayuno. Esta práctica propia de los pobladores de zonas de pescadores, se extiende también a ciudades como Guayaquil. También se acostumbra desayunar platos típicos que bien podrían constituir un almuerzo, como seco de chivo, guatita o ceviche.
En los sectores urbanos de la región de la sierra, se encuentran desayunos occidentales de toda clase, mientras que en lugares apartados y en comunidades indígenas, las comidas se basan mayoritariamente en productos de cereales (como trigo, cebada y maíz, coladas a base de máchica (o harina de haba). Los sectores populares que se dedican a la agricultura y a la ganadería acostumbran tomar un desayuno más fuerte, consistente de leche ordeñada, queso fresco, huevos, carne de cerdo o de cordero o caldos de gallina. Platos típicos también son consumidos como desayuno, entre ellos los llapingachos (tortillas de papa con huevos y chorizo) y el yahuarlocro.
En la región amazónica, al igual que en la costa, el desayuno se basa en productos de yuca y de plátano verde, pan de trigo, jugos de frutas y leche. También se consumen palmitos (de gran producción en la zona), pescados de río (como tilapias y truchas) y algunas clases de reptiles.</p>

<p>Normalmente, el desayuno llamado típico en El Salvador está compuesto de uno o dos huevos preparados al gusto, que pueden ser fritos, revueltos o cocidos, acompañados de frijoles cocidos, fritos, licuados o casamiento (frijoles y arroz). Suele acompañarse con crema, queso fresco o duro, requezón, chorizos, plátanos fritos y en algunos casos aguacate.

Cuando el desayuno se prepara con huevos fritos, se le puede agregar salsas «huevos rancheros».

La mayoría de veces se acompaña con pan francés o tortillas de maíz

También es muy común desayunar el platillo típico por excelencia: Pupusas; pero también es común desayunar tamales.

Otros tipos de desayuno son los cereales con leche, hot cakes, arroz con leche y canela o avena.

Las bebidas más comunes que acompañan el desayuno son jugo de naranja, café, chocolate caliente, refrescos de frutas natural, leche y atoles.</p>
    @section SideBar{
        <ul class="imagenes">
    <li>
    <img src="imagenes/1.jpg" 
         width="200"
         height="200">
    </li>
    <li>
    <img src="imagenes/3.jpg" 
         width="200"
         height="200">
    </li>
    <li>
    <img src="imagenes/5.jpg" 
         width="200"
         height="200">
    </li>
</ul>
    }